@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    font-family: "Poppins", sans-serif;
    background: #0d0d0d;
    color: white;
  }
  .hover-underline-animation {
    display: inline-block;
    position: relative;
  }

  .hover-underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #00e3a5;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .banner-img img {
    width: 100%;
    height: 100%;
  }
  .img-1_4m_mob img {
    width: 10rem;
  }
  .img-2_4m_mob img {
    width: 5rem;
    height: auto;
  }
  .img-3_4m_mob img {
    width: 6rem;
    height: auto;
  }
  .img-4_4m_mob img {
    width: 8rem;
    height: auto;
  }
  .about img {
    height: 100%;
    width: 90%;
  }
  .about-2 img {
    height: 70%;
    width: 90%;
  }
  @media (min-width: 1440px) {
    .about img {
      width: 80%;
    }
  }
  @media (min-width: 1024px) {
    .about-2 img {
      height: 80%;
      width: 90%;
    }
  }
  @media (min-width: 1440px) {
    .about-2 img {
      height: 70%;
      width: 70%;
    }
  }
  @media (min-width: 1700px) {
    .about-2 img {
      height: 70%;
      width: 80%;
    }
  }
  @media (min-width: 1800px) {
    .about-2 img {
      height: 80%;
      width: 70%;
    }
  }
  .bg {
    background: rgba(0, 221, 156, 0.03);
  }
  .fancy-text {
    color: #0c1716;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1f4439;
  }
}
